body {
 overflow: hidden;
}

.mdl-textfield__input
{
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.mdl-textfield__label {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.35);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

.selection::selection {
  background: rgba(255, 255, 255, 0.25);
}

.selection::-moz-selection {
  background: rgba(255, 255, 255, 0.25);
}
